ion-view
  ion-header-bar.bar-positive(align-title='center')
    button.button.button-icon.icon.ion-navicon(menu-toggle='left')
    h1.title musicAPp
  ion-content
    h1  this is my profile controller 
    a.button.button-block.button-calm(menu-close='', ui-sref-active='active', ui-sref='app.songCreate')  songs