ion-view
  ion-header-bar.bar-pink(align-title='center')
    button.button.button-icon.icon.ion-navicon(menu-toggle='left')
    h1.title musicAPp
  ion-content
    .list
      label.item.item-input.item-stacked-label
        span.input-label Profile Name
        input(type='text', ng-model='profile.name')
      label.item.item-input.item-stacked-label
        span.input-label Bio
        input(type='text', ng-model='profile.bio')
      label.item.item-input.item-stacked-label
        span.input-label theme
        input(type='text', ng-model='profile.theme')
      button.button.button-full.btn-magenta(ng-click='updateProfile(profile)') update

    a.button.button-block.btn-magenta.megenta-secondary(menu-close='', ui-sref-active='active', ui-sref='app.songCreate') songs

