ion-view
  ion-header-bar.bar-positive(align-title='center')
    button.button.button-icon.icon.ion-navicon(menu-toggle='left')
    h1.title musicAPp
  ion-content
    h1  this is th show page for the song 
    h4  {{song.name}} 